html {
    font-size: 100%;
}
body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-left: 20px;
}
section {
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
}
code {
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
padding: 0;
}
h1 {
    font-size: 2em;
    border-bottom: 1px solid #ddd
}
h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eee
}
h3 {
    font-size: 1.2em
}
