body, h1, h2, h3 {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    padding-left: 50px;
}

section {
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
}

